body{
    background-color: white;
}

#boom{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    background: url(page.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instruct{
    width: 50vw;
    height: 60vh;
    margin: auto;
    background-color: rgba(255, 255, 255,0.8);
    color: rgb(2, 62, 2);
    overflow-y: auto;
    text-align: center;
    padding: 1vw;
    
    
}
#instruct h1{
    font-size: 3vw;
    text-decoration: none;
}
#instruct h1:hover{
    text-decoration: none;
}
#note{
    width: 100%;
    padding: 0.5vw;
    margin-top: 7vh;
    background-color: red;
}
::-webkit-scrollbar {
    width: 1.5vw;
  }
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg,gray,gray,black);
    border-radius: 2vw;
}
